---
BasedOnStyle:  Google
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*_helper\.hpp'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
...
