[submodule "DIOPI"]
	path = DIOPI
	url = git@github.com:OpenComputeLab/DIOPI-PROTO.git
[submodule "mmcv/ops/csrc/DIOPI-IMPL"]
	path = mmcv/ops/csrc/DIOPI-IMPL
	url = git@github.com:OpenComputeLab/DIOPI-IMPL.git
