name: build

on: [push, pull_request]

env:
  MMCV_WITH_OPS: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install pre-commit hook
        run: |
          pip install pre-commit
          pre-commit install
      - name: Linting
        run: pre-commit run --all-files
      - name: Format c/cuda codes with clang-format
        uses: DoozyX/clang-format-lint-action@v0.11
        with:
          source: mmcv/ops/csrc
          extensions: h,c,cpp,hpp,cu,cuh
          style: google

  build_parrots:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sunnyxiaohu/parrots-mmcv:1.2.1
      credentials:
        username: sunnyxiaohu
        password: ${{ secrets.CR_PAT }}

    steps:
      - uses: actions/checkout@v2
      - name: Install unittest dependencies
        run: pip install -r requirements/test.txt
      - name: Build and install
        run: rm -rf .eggs && pip install -e .
