name: pr_stage_test

env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
on:
  pull_request:
    paths-ignore:
      - ".github/**.md"
      - "docker/**"
      - "docs/**"
      - 'examples/**'
      - '.dev_scripts/**'
      - "README.md"
      - "README_zh-CN.md"
      - "CONTRIBUTING.md"
      - ".pre-commit-config.yaml"
      - ".pre-commit-config-zh-cn.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_gpu:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash -l {0}
    env:
      FORCE_CUDA: 1
      MMCV_CUDA_ARGS: -gencode=arch=compute_61,code=sm_61
    strategy:
      matrix:
        python-version: ['3.9','3.10']
        torch: ['2.0.0','2.3.1','2.5.1']
        cuda: ['cu118']
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - name: Setup conda env
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniconda-version: "latest"
          use-only-tar-bz2: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
      - name: Update pip
        run: |
          python -m pip install --upgrade pip wheel
      - name: Install dependencies
        run: |
          apt-get update && apt-get install -y git ffmpeg libturbojpeg
          python -m pip install torch==${{matrix.torch}} --index-url https://download.pytorch.org/whl/${{matrix.cuda}}
          python -c "import torch; print(f'CUDA 是否可用: {torch.cuda.is_available()}'); print(f'CUDA 版本: {torch.version.cuda}') if torch.cuda.is_available() else print('CUDA 不可用')"
          pip install git+https://github.com/open-mmlab/mmengine.git@main
          pip install ninja psutil
          pip install -e . -v
          pip install -r requirements/test.txt
          python -m pip install openmim
          mim install mmcv coverage
      - name: Run unit tests with coverage
        run: |
          coverage run --branch --source mmcv -m pytest tests/
          coverage xml
          coverage report -m
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
  
  build_windows_without_ops:
    runs-on: windows-2019
    env:
      MMCV_WITH_OPS: 0
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip and wheel
        run: python -m pip install pip wheel --upgrade
      - name: Install PyTorch
        run: pip install torch==1.8.1+cpu torchvision==0.9.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - name: Install MMEngine from main branch
        run: pip install git+https://github.com/open-mmlab/mmengine.git@main
      - name: Install ninja to speed the compilation
        run: pip install ninja psutil
      - name: Build MMCV from source
        run: pip install -e . -v
      - name: Install unit tests dependencies
        run: pip install -r requirements/test.txt
      - name: Run unit tests
        run: pytest tests --ignore=tests/test_ops --ignore tests/test_image/test_io.py
  build_windows:
    runs-on: windows-2019
    strategy:
      matrix:
        torch: [1.8.1, 2.1.0]
        include:
          - torch: 1.8.1
            torchvision: 0.9.1
            python-version: 3.7
          - torch: 2.1.0
            torchvision: 0.16.0
            python-version: 3.8
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip and wheel
        run: python -m pip install pip wheel --upgrade
      - name: Install PyTorch
        run: pip install torch==${{matrix.torch}}+cpu torchvision==${{matrix.torchvision}}+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - name: Install MMEngine from main branch
        run: pip install git+https://github.com/open-mmlab/mmengine.git@main
      - name: Install ninja to speed the compilation
        run: pip install ninja psutil
      - name: Build MMCV from source
        run: pip install -e . -v
      - name: Install unit tests dependencies
        run: pip install -r requirements/test.txt
      - name: Run unit tests
        run: pytest tests/ --ignore tests/test_image/test_io.py
  # build_macos:
  #   runs-on: macos-latest
  #   strategy:
  #     matrix:
  #       torch: [1.8.1, 2.1.0]
  #       include:
  #         - torch: 1.8.1
  #           torchvision: 0.9.1
  #           python-version: 3.7.1
  #         - torch: 2.1.0
  #           torchvision: 0.16.0
  #           python-version: 3.8.1
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set up Python ${{ matrix.python-version }}
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #     - name: Install system dependencies
  #       run: brew install ffmpeg jpeg-turbo
  #     - name: Upgrade pip and wheel
  #       run: pip install pip wheel --upgrade
  #     - name: Install PyTorch
  #       run: pip install torch==${{ matrix.torch }} torchvision==${{ matrix.torchvision }}
  #     - name: Install MMEngine from main branch
  #       run: pip install git+https://github.com/open-mmlab/mmengine.git@main
  #     - name: Install ninja to speed the compilation
  #       run: pip install ninja psutil
  #     - name: Build MMCV from source
  #       run: pip install -e . -v
  #     - name: Install unit tests dependencies
  #       run: pip install -r requirements/test.txt
  #     - name: Run unit tests
  #       run: pytest tests/
